{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}



{{!-- The main content area on the homepage --}}
<main id="content" class="content" role="main">
  <article role="main" class="main-content">
  <!-- Team -->
  <div class="row welcome">
    <div class="medium-9 large-7 columns">
      <p class="lead">{{@blog.description}}</p>
    </div>
  </div>
  <div class="row actions">
    <div class="column">
      <ul class="action-list">
        <li><a href="http://app.prosper.community">search</a></li>
        <!-- <li><a href="http://app.prosper.community/map/">map view</a></li> -->
        <li><a href="javascript:void()">featured</a></li>
        <!-- Need to trigger modal -->
        <li><a href="https://docs.google.com/a/prosper.community/forms/d/1TPxDeQfLqScoHgmUYExZH2wP4b0DJgHFtuvXDFWPDoM/viewform" target="_blank">add project</a></li>
      </ul>
    </div>
  </div>

</article>

</main>
